@model MyPostsViewModel
@{
    ViewData["Title"] = "Post details";
}

<h2>@ViewData["Title"]</h2>


<div>
    <div class="row">
        <h3 class="col-md-12">@Model.Description</h3>
    </div>
    <div class="row">
        <h3 class="col-md-12">Posted on: @Model.PublishTime</h3>
    </div>
    <div class="row" style="align-content:center">
        <img src="@Model.Image" width="400px" height="400px" class="img-responsive col-md-12" />
    </div>
    <div class="row">
        <h3 class="col-md-12">Author - <a asp-controller="Users" asp-action="Profile" asp-route-username="@Model.Username">@Model.Username</a></h3>
    </div>
    @foreach (var comment in Model.Comments)
    {
        var commentAuthor = comment.Author.UserName;
        <div class="row button" style="align-content:center">
            <h3 class="col-md-4"><a asp-controller="Users" asp-action="Profile" asp-route-username="@commentAuthor">@commentAuthor</a>: @comment.Content</h3>
            <div class="row button">
                <button class="btn btn-default col-md-1">Like</button>
                <button id="reply" onclick="showReplyTextBox(@comment.Id)" class="btn btn-default col-md-1">Reply</button>
                @if (User.IsInRole(RolesConstants.ADMINISTRATOR_ROLE))
                {
                    <form method="post" onclick="return confirm('Are you sure you want to delete this?')" asp-controller="Admins" asp-action="DeleteComment" asp-route-id="@comment.Id">
                        <input type="submit" class="col-md-2 btn btn-primary row button" value="Delete Comment" />
                    </form>
                }
                else if (comment.Author.UserName == User.Identity.Name)
                {
                    <form method="post" onclick="return confirm('Are you sure you want to delete this?')" asp-controller="Users" asp-action="DeleteComment" asp-route-commentId="@comment.Id" asp-route-userId="@comment.UserId">
                        <input type="submit" class="col-md-2 btn btn-primary row button" value="Delete Comment" />
                    </form>
                }
            </div>
            @foreach (var reply in comment.CommentReplies)
            {
                var replyAuthor = reply.Author.UserName;
                <h3 class="col-md-6 replyForComment"><a asp-controller="Users" asp-action="Profile" asp-route-username="@replyAuthor">@replyAuthor</a>: @reply.Content</h3>
            }
            <div id="replyTextBox@(+comment.Id)" hidden class="row" style="display:none">
                <form method="post" asp-controller="Users" asp-action="Reply" asp-route-commentId="@comment.Id">
                    <textarea asp-for="Comment" id="addReply@(+comment.Id)" style="display:none" class="row button col-md-2">
                        </textarea>
                    <input type="submit" value="Add Reply" class="btn btn-primary btn-sm row button col-md-2" />
                </form>
            </div>
        </div>
    }

    @await Html.PartialAsync("_CommentAndLikePartial", Model)
</div>