@model AllPostsViewModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="text-align:center">@ViewData["Title"]</h2>

@{
    var biography = Model.Biography != null ? Model.Biography : "No biography yet!";
}

<h2 style="text-align:center">Profile Picture</h2>

@if (Model.ProfilePicture != null)
{
    <div style="display: flex; justify-content: center;">
        <image class="img-rounded" width="360px" height="360px" src="@Model.ProfilePicture"></image>
    </div>
}
else
{
    <h2 style="text-align:center">No profile picture yet!</h2>
}

<h2 style="text-align:center">Bio</h2>
<h3 style="text-align:center">@biography</h3>
@if (Model.Username == User.Identity.Name)
{
    <div class="row button">
        <button class="btn btn-primary col-md-2" onclick="showProfilePicture()">Add Profile Picture</button>
    </div>
    <div id="profilePicture" class="row button" style="display:none">
        <form method="post" asp-controller="Users" asp-action="SetProfilePicture" asp-route-username="@Model.Username" enctype="multipart/form-data">
            <input asp-for="ProfilePicture" type="file" />
            <input class="btn btn-primary " type="submit" value="Save" />
        </form>
    </div>

    <div class="row">
        <button id="biography" onclick="showBiographyTextBox()" class="btn btn-default col-md-2">Update biography</button>
    </div>
    <div id="biographyTextBox" hidden class="row" style="display:none">
        <form method="post" asp-controller="Users" asp-action="AddBiography" asp-route-username="@Model.Username">
            <textarea asp-for="Biography" id="addBiography" style="display:none" class="row button col-md-2">
            </textarea>
            <input type="submit" value="Update biography" class="btn btn-primary btn-sm row button col-md-2" />
        </form>
    </div>
}

<hr />

<h3 style="text-align:center">Posts</h3>

@await Html.PartialAsync("_PostsListingPartial", Model)