@model AllPostsViewModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var biography = Model.Biography != null ? Model.Biography : "No biography yet!";
}
<div class="container">
    <div class="profile">
        <div class="profile-image">
            @if (Model.ProfilePicture != null)
            {
                <image class="img-circle " width="220px" height="220px" src="@Model.ProfilePicture" alt="Profile Picture"></image>
            }
            else
            {
                < h2 style = "text-align:center" > No profile picture yet!</ h2 >
            }
        </div>
        <div class="profile-user-settings">

            <h1 class="profile-user-name">@Model.Username</h1>

            <button class="btn profile-edit-btn">Edit Profile</button>

            <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>

        </div>
        <div class="profile-stats">

            <ul>
                <li><span class="profile-stat-count">@Model.AllPosts.Count()</span> posts</li>
                <li><span class="profile-stat-count">188</span> followers</li>
                <li><span class="profile-stat-count">206</span> following</li>
            </ul>

        </div>

        <div class="profile-bio">

            <p><span class="profile-real-name">@Model.Username</span> @biography</p>

        </div>
    </div>
</div>

@if (Model.Username == User.Identity.Name)
{
    <div class="row button">
        <button class="btn btn-primary col-md-2" onclick="showProfilePicture()">Add Profile Picture</button>
    </div>
    <div id="profilePicture" class="row button" style="display:none">
        <form method="post" asp-controller="Users" asp-action="SetProfilePicture" asp-route-username="@Model.Username" enctype="multipart/form-data">
            <input asp-for="ProfilePicture" type="file" />
            <input class="btn btn-primary " type="submit" value="Save" />
        </form>
    </div>

    <div class="row">
        <button id="biography" onclick="showBiographyTextBox()" class="btn btn-default col-md-2">Update biography</button>
    </div>
    <div id="biographyTextBox" hidden class="row" style="display:none">
        <form method="post" asp-controller="Users" asp-action="AddBiography" asp-route-username="@Model.Username">
            <textarea asp-for="Biography" id="addBiography" style="display:none" class="row button col-md-2">
            </textarea>
            <input type="submit" value="Update biography" class="btn btn-primary btn-sm row button col-md-2" />
        </form>
    </div>
}

<hr />

<h3 style="text-align:center">Posts</h3>

<div class="container">
    <div class="gallery">
        @if (Model.AllPosts.Count() == 0)
        {
            <div class="row">
                <h3 style="text-align:center" class="col-md-12">No posts yet!</h3>
            </div>
            <div class="row">
                <h3 style="text-align:center" class="col-md-12">Want to post? <a asp-controller="Posts" asp-action="Create">Click here</a></h3>
            </div>
        }
        else
        {
            @foreach (var post in Model.AllPosts)
            {
                <div class="gallery-item">
                    <a class="hyperlinkless" asp-controller="Posts" asp-action="PostDetails" asp-route-id="@post.Id">
                        <img src="@post.Image" class="gallery-image" />
                        <div class="gallery-item-info">
                            <ul>
                                <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></i>@post.Likes.Count()</li>
                                <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="glyphicon glyphicon-comment" aria-hidden="true"></i>@post.Comments.Count()</li>
                            </ul>
                        </div>
                    </a>
                </div>
            }
        }

    </div>
</div>

@await Html.PartialAsync("_PaginationPartial", Model);
