@model AllPostsViewModel
<div>
    @if (Model.AllPosts.Count() == 0)
    {
        <div class="row">
            <h3 style="text-align:center" class="col-md-12">No posts yet!</h3>
        </div>
        <div class="row">
            <h3 style="text-align:center" class="col-md-12">Want to post? <a asp-controller="Posts" asp-action="Create">Click here</a></h3>
        </div>
    }
    else
    {
        @foreach (var post in Model.AllPosts)
        {
            <div>
                <div class="row">
                    <h3 class="col-md-12">@post.Description</h3>
                </div>
                <div class="row" style="align-content:center">
                    <img src="@post.Image" width="400px" height="400px" class="img-responsive col-md-12" />
                </div>
                <div class="row">
                    <h3 class="col-md-12">Posted on @post.PublishTime.ToShortDateString()</h3>
                </div>
                <div class="row">
                    <h3 id="likes@(+post.Id)" class="col-md-12">@post.Likes.Count()</h3> <h4>Likes</h4>
                </div>
                @if (post.User != null)
                {
                    <div class="row" style="align-content:center">
                        <h3 class="col-md-12">Author - <a asp-controller="Users" asp-action="Profile" asp-route-username="@post.User.UserName">@post.User.UserName</a></h3>
                    </div>
                }
                @await Html.PartialAsync("_CommentAndLikePartial", post)

                <div class="row button">
                    <a asp-controller="Posts" asp-action="PostDetails" asp-route-id="@post.Id" class="col-md-2">Show Comments</a>
                </div>
            </div>
            @if (User.IsInRole(RolesConstants.ADMINISTRATOR_ROLE))
            {
                <div class="row button">
                    <form method="post" onclick="return confirm('Are you sure you want to delete this?')" asp-controller="Admins" asp-action="DeletePost" asp-route-id="@post.Id">
                        <input type="submit" class="col-md-2 btn btn-danger" value="Delete Post" />
                    </form>
                </div>
            }

            else if (post.User.UserName == User.Identity.Name)
            {
                <div class="row button">
                    <form method="post" onclick="return confirm('Are you sure you want to delete this?')" asp-controller="Posts" asp-action="DeletePost" asp-route-postId="@post.Id" asp-route-userId="@post.UserId">
                        <input type="submit" class="col-md-2 btn btn-danger" value="Delete Post" />
                    </form>
                </div>
            }
            <hr />
        }
        @await Html.PartialAsync("_PaginationPartial", Model);
    }
</div>
        